CABLINE_BASE_URL=https://local-gateway.cabline.com

CABLINE_DRIVER_DOCUMENT_TYPES_OPERATION=DRIVER_GET_DOCUMENT_TYPES
CABLINE_DRIVER_DOCUMENTS_OPERATION=DRIVER_GET_MY_DOCUMENTS
CABLINE_DRIVER_DOCUMENT_UPLOAD_OPERATION=DRIVER_CREATE_MY_DOCUMENT
